{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron text-center">
           
    <h1>Welcome to AstroSite!</h1>
    <p>Your ultimate destination for astronomy enthusiasts.</p>
    <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Learn More</a>
    
</div>

    <div class=col-md-4>
        <h3>Join the Community</h3>
        <p>Engage in discussions, share your experiences, and learn from others.</p>
        <a href="{% url 'category_list' %}" class="btn btn-primary">Forums</a>
       
    </div>
    <div class=col-md-4>
        <h3>Shop Astronomy Gear</h3>
        <p>Find the perfect equipment to enhance your stargazing experience.</p>
        <a href="{% url 'shop' %}" class="btn btn-secondary">Visit Shop</a>
         {% if user.is_authenticated and user.is_staff or user.is_superuser %}
            <a href="{% url 'create_shop_item' %}" class="btn btn-primary">Create Shop Item</a>
         {% endif %}
    </div>

{% endblock %}